<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>All Clients</h1>
				<h4>Click a client to see their assigned stylist.</h4>
			</div>
			<h5><strong><a href="/clients/add">Add a new client</a></strong></h5>
			<hr>
			<ul>
			@if(Model!=null)
			{
				foreach (var client in Model)
				{
					<li><strong>@client.GetName()</strong>, assigned to stylist <a href="/stylists/@client.GetStylist(@client.GetStylistId()).GetId()">@client.GetStylist(@client.GetStylistId()).GetName()</a></li>
				}
			}
			</ul>
			<hr>
			<h5><strong><a href="/">Return to homepage</a></strong></h5>
		</div>
  </body>
</html>
