<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>All Clients</h1>
				<h4>Click a client to see their assigned stylist.</h4>
			</div>
			<h5><strong><a class="btn btn-info" href="/clients/add">Add a new client</a></strong></h5>
			<hr>
			<ul>
			@if(Model!=null)
			{
				foreach (var client in Model)
				{
					<li><strong>@client.GetName()</strong></li>
            foreach (var stylist in @client.GetStylists())
            {
              <li>Assigned to stylist @stylist.GetName()</li>
            }
				}
			}
			</ul>
			<hr>
			<h5><strong><a href="/">Home</a></strong> | <strong><a href="/stylists">Stylists</a></strong> | <strong><a href="/clients">Clients</a></strong></h5>
		</div>
  </body>
</html>
