<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Your Clients</h1>
				<h4>Click a client to see their assigned stylist</h4>
			</div>
			<h5><strong><a class="btn btn-info" href="/clients/add">Add a new client</a></strong></h5>
			<hr>
			@if(Model!=null)
			{
				foreach (var client in Model)
				{
				<h3><a href="/clients/@client.GetId()">@client.GetName()</a></h3>
				}
			}
			<hr>
      <form class="" action="/clients/deleteall" method="post">
        <button type="submit" class="btn btn-danger">Delete all clients</button>
      </form>
      <hr>
			<h5><strong><a href="/">Home</a></strong> | <strong><a href="/stylists">Stylists</a></strong> | <strong><a href="/specialties">Specialties</a></strong> | <strong><a href="/clients">Clients</a></strong></h5>
		</div>
  </body>
</html>
