<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hans' "I will make you <strong><em>beautiful!</em></strong>" Salon</h1>
			</div>
			<h3><a href="/stylists">View Stylists</a></h3>
			<hr>
			<h3><a href="/clients">View Clients</a></h3>
			<hr>
    </div>
  </body>
</html>
