<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hans' <em>Very Beautiful</em> Salon!</h1>
				<h4>Administrator View</h4>
			</div>
			<a href="/stylists">See all stylists</a>
			<hr>
			<a href="/stylists/add">Add a new stylist</a>
			<hr>
			<a href="/clients/add">Assign a new client</a>
			<hr>
    </div>
  </body>
</html>
