<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Add Stylist</h1>
				<h4>Add a new stylist to the team.</h4>
			</div>
			<form action="/stylists" method="post">
				<label for="stylist-name">Name: </label>
				<input type="text" name="stylist-name" required>
				<hr>
				<button type="submit" class="btn btn-success">Submit</button>
				<hr>
				<h5><strong><a href="/stylists">Return to stylist view</a></strong></h5>
    </div>
  </body>
</html>
