<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Your Stylists</h1>
				<h4>Click a stylist to see their list of clients.</h4>
			</div>
			<a href="/stylists/add">Add a new stylist</a>
			<hr>
			@if(Model!=null)
			{
				foreach (var stylist in Model)
				{
					<h3><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></h3>
				}
			}
			<a href="/">Return to homepage</a>
		</div>
  </body>
</html>
