<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Hans' Salon</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Stylist: @Model.GetName()</h1>
			</div>
			@if(Model!=null)
			{
				<h3>Name: @Model.GetName()</h3>
				<h3>Client List:</h3>
				<ul>
				</ul>
				<hr>
			}
			<a href="/stylists">Return to stylist list</a>
		</div>
  </body>
</html>
